@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  width: 350px;
  padding: 3px;
}

.project_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 40px;
  box-shadow: 3px 3px 10px rgba(0,0,0.5);
}


.email_icon_field {
  border: 2px solid rgb(172, 172, 172);
  border-radius: 8px;
  outline: none;
  min-height: 60px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px 4px 10px;
}

.email_icon_field.active {
    border: 2px solid rgb(240, 78, 78);
}

.email_icon_field.valid {
    border: 2px solid rgb(41, 185, 77);
}



input {
  border: none;
  outline: none;
  align-self: center;
  width: 100%;
  font-size: 25px;
  padding: 0 10px 0 0;
}

.email_icon_field .fas.fa-exclamation-circle {
  font-size: 30px;
  color: rgb(240, 78, 78);
  display: none;
}

.email_icon_field .fas.fa-check {
  font-size: 30px;
  color: rgb(41, 185, 77);
  display: none;
}

.email_icon_field .fas.fa-check.active {
  font-size: 30px;
  color: rgb(41, 185, 77);
  display: flex;
  
}

.email_icon_field .fas.fa-exclamation-circle.active {
  font-size: 30px;
  color: rgb(240, 78, 78);
  display: flex
}



.message_container {
  margin-top: 25px;
  background: rgba(240, 78, 78);
  height: 60px;
  width: 400px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: .5px;
 display: none
  
}

.message_container.active {
  display: flex;
}

.accent.valid {
  background: rgb(41, 185, 77);
 display: flex;
}

.message_container.valid {
  display: flex;
  background: rgb(41, 185, 77);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;;
}


.message_container p:nth-child(3) {
  color: #fff;
  display: none;
}

.message_container p:nth-child(2).invalid {
  color: #fff;
  display: none;
}




.message_container p:nth-child(3).valid {
  color: #fff;
  display: flex;
}

.accent {
  position: absolute;
  top: 54.12%;
  left: 57.65%;
  background-color: rgba(240, 78, 78);
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
}